In [15]:
import pandas as pd
import seaborn as sns
import numpy as np

In [80]:
df = sns.load_dataset('titanic')

In [81]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

let's perform feature selection on categorical features

In [82]:
df = df[['survived', 'pclass', 'sex', 'embarked', 'alone']]

### preprocessing

In [83]:
df['sex'] = np.where(df['sex']=='male', 1, 0)
df['alone'] = np.where(df['alone']==True, 1, 0)

In [84]:
df.dropna(subset=['embarked'], inplace=True)

embarked_dict = {k: v for v, k in enumerate(df['embarked'].unique())}
df['embarked'] = df['embarked'].map(embarked_dict)

In [85]:
df.head()

   survived  pclass  sex  embarked  alone
0         0       3    1         0      0
1         1       1    0         1      0
2         1       3    0         0      1
3         1       1    0         0      0
4         0       3    1         0      1

In [86]:
X = df.drop(columns=['survived'], axis=1)
y = df['survived']

In [87]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10, stratify=y)

### Chi-squared feature selection

In [91]:
from sklearn.feature_selection import chi2

f_values, p_values = chi2(X_train,y_train)

In [97]:
p_values = pd.Series(p_values)
p_values.index = X_train.columns
p_values.sort_index(ascending=False)

sex         2.591574e-16
pclass      5.447897e-07
embarked    1.514206e-02
alone       9.144352e-05
dtype: float64

sex is the most important feature we have followed by pclass, embarked then alone